[submodule "IZP"]
	path = IZP
	url = git@github.com:Martet/IZP.git
[submodule "INC"]
	path = INC
	url = git@github.com:Martet/INC.git
[submodule "IJC"]
	path = IJC
	url = git@github.com:Martet/IJC.git
[submodule "IZG"]
	path = IZG
	url = git@github.com:Martet/IZG.git
[submodule "IVS-1"]
	path = IVS-1
	url = git@github.com:Martet/IVS-1.git
[submodule "IOS"]
	path = IOS
	url = git@github.com:Martet/IOS.git
[submodule "IEL"]
	path = IEL
	url = git@github.com:Martet/IEL.git
[submodule "ivs_projekt"]
	path = ivs_projekt
	url = git@github.com:Martet/ivs_projekt.git
[submodule "ITY"]
	path = ITY
	url = git@github.com:Martet/ITY.git
[submodule "ISS"]
	path = ISS
	url = git@github.com:Martet/ISS.git
[submodule "IAL"]
	path = IAL
	url = git@github.com:Martet/IAL.git
[submodule "INP"]
	path = INP
	url = git@github.com:Martet/INP.git
[submodule "ifj-projekt-2021"]
	path = ifj-projekt-2021
	url = git@github.com:AsToNlele/ifj-projekt-2021.git
[submodule "mindstorms-controller"]
	path = mindstorms-controller
	url = git@github.com:ondrej-mach/mindstorms-controller.git
